.name-wrap {
  display: grid;
  grid-template-columns: 40px 1fr 28px;
  grid-column-gap: 8px;
  align-items: center;
  margin: 12px 0;
  font-size: 24px;
  font-weight: 700;
}

.token-bg {
  width: 40px;
  height: 40px;
  background: rgba(27, 79, 180, 0.71);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    pointer-events: none;
  }

  svg {
    fill: aliceblue;
  }

  &:hover {
    opacity: unset;
    cursor: pointer;
    background: rgba(27, 79, 180, 0.81);
  }
}

.address-input {
  border: none;
  outline-width: 0;
  height: 24px;
  background: transparent;
  padding: 8px 8px 2px 8px;
  font-family: fantasy;
  font-size: 24px;
  letter-spacing: 2px;
}

