:host {
  display: block;
  background: rgb(196 211 246);
  padding: 16px;
  border-radius: 12px;
  font-family: fantasy;
  font-size: 18px;
}

.wallet-connection_title {
  font-size: 24px;
  margin-bottom: 10px;
}

.wallet-connection_step {
  display: flex;
  align-items: center;
  height: 56px;

  img {
    margin-left: 12px;
    width: 48px;
    display: none;
  }

  &.loading {
    display: flex;
  }

  &.success {
    color: #099309;
    font-weight: 600;
  }
}

.error-text {
  margin-top: 16px;
  color: #a51212;
  font-weight: 600;
}

.close-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: rgb(42 68 119 / 72%);
  cursor: pointer;

  &:hover {
    color: rgb(42 68 119 / 42%);
  }
}
