<div class="header">

  <ng-container *ngIf="transformedWalletAddress$ | async as address">
    <img src="assets/metamask-logo.png" alt="">
    <span>{{ address }}</span>
  </ng-container>

</div>

<div class="page-content">

  <div class="tokens-row">
    <app-token-block [balance]="sourceTokenAmount$ | async"
                     [symbol]="(sourceTokenInfo$ | async)?.symbol"
                     (addressChange)="updateSourceAddress($event)"></app-token-block>

    <svg width="32" height="32" class="icon">
      <use xlink:href="assets/arrow.svg#arrow"></use>
    </svg>

    <app-token-block [balance]="destinationTokenAmount$ | async"
                     [symbol]="(destinationTokenInfo$ | async)?.symbol"
                     [isSource] = false
                     (addressChange)="updateDestinationAddress($event)"></app-token-block>
  </div>

  <conditions></conditions>

  <button class="submit-button">Submit limit order</button>
</div>
