<div class="header">

  <ng-container *tuiLet="transformedWalletAddress$ | async as address">
    <img src="assets/metamask-logo.png" alt="" (click)="getOrders()">
    <span>{{ address }}</span>
  </ng-container>

</div>

<div class="page-content">

  <div class="tokens-row">
    <app-token-block [balance]="sourceTokenAmount$ | async"
                     [symbol]="(sourceTokenInfo$ | async)?.symbol"
                     (addressChange)="updateSourceAddress($event)"
                     (amountChange)="updateSourceAmount($event)"></app-token-block>

    <svg width="32" height="32" class="icon">
      <use xlink:href="assets/arrow.svg#arrow"></use>
    </svg>

    <app-token-block [balance]="destinationTokenAmount$ | async"
                     [symbol]="(destinationTokenInfo$ | async)?.symbol"
                     [isSource] = false
                     (addressChange)="updateDestinationAddress($event)"
                     (amountChange)="updateDestinationAmount($event)"></app-token-block>
  </div>

  <conditions></conditions>

  <button class="submit-button" style="margin: 0 0 -10px 0" (click)="submit()">Submit limit order</button>

</div>

<ng-container *ngIf="activeOrders$ | async as orders">

  <div *ngIf="orders && orders.length && show" class="active-orders">
    <h3>Active orders</h3>

    <div class="active-order-block" *ngFor="let order of orders">
      <p>
        <span>Hash:   </span>
        <span>{{ transformAddress(order.orderHash) }}</span>
      </p>

    </div>
  </div>
</ng-container>
